/* Header */
header {
    position: absolute;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
}
header nav ul a {
    font-weight: 600;
    color: #FFFFFF;
    padding: 0 10px 6px;
    text-transform: uppercase;
}
header nav ul a:hover {
	border-bottom: 2px solid #FFFFFF;
}
header nav ul li:last-child a:hover {
	border-bottom: none;
}
header nav ul li {
    margin-right: 9px;
}
header nav ul li:last-child {
    margin-right: 0;
}
.hamburger_menu {
    display: none;
}

.btn14 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 15px;
    transition-duration: 0.5s;
}
.btn14 .icon-circle {
    transition-duration: 0.5s;
    position: absolute;
    height: 45px;
    width: 45px;
    top: 2px;
    border-radius: 100%;
    background: transparent;
    border: 2px solid #FFFFFF;
    left: -9px;
}
.btn14 .icon {
    transition-duration: 0.5s;
    position: absolute;
    width: 27px;
    height: 3px;
    top: 23px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.btn14 .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 27px;
    height: 3px;
    background-color: #FFFFFF;
    content: "";
    top: -10px;
    border-radius: 4px;
}
.btn14 .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 27px;
    height: 3px;
    background-color: #FFFFFF;
    content: "";
    top: 10px;
    border-radius: 4px;
}

.btn14.open .icon-circle {
  /*background: #fff;*/
}
.btn14.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.btn14.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.btn14.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
.btn14:hover {
  cursor: pointer;
}

header nav.show {
	visibility: visible;
	transform: translateX(0%);
}

/* bg overlay */

.bg_overlay {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #00000078;
	z-index: 10;
}
.bg_overlay.show {
	visibility: visible;
}

body {
	overflow: visible;
} 
body.show {
	overflow: hidden;
} 

/* Banner */
.hero_banner {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 804px;
	width: 100%;
	height: 100%;
}
.hero_banner_content {
    max-width: 600px;
    padding: 235px 0 165px;
}
.hero_banner h1 {
    color: #FFD100;
}
.hero_banner h3 {
    color: #FFFFFF;
    margin: 33px 0 40px;
}
.hero_actions .btn_med {
    margin-right: 20px;
}

.btn_med {
    background-color: #FFD100;
    border: 2px solid #FFD100;
    color: #000000;
    font-weight: bold;
    padding: 16px 55px;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    display: inline-block;
    text-align: center;
}
.btn_med span, .btn_med_outline span {
	-ms-transform: skewX(8deg);
    -webkit-transform: skewX(8deg);
    transform: skewX(8deg);  
    display: inline-block;
}
.btn_med:hover {
    background-color: transparent;
    color: #FFD100;
}

.btn_med_outline {
    background-color: transparent;
    border: 2px solid #FFD100;
    color: #FFD100;
    font-weight: bold;
    padding: 16px 55px;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    display: inline-block;
    text-align: center;
}

.btn_med_outline:hover {
    background-color: #FFD100;
    color: #000000;
}

/* Right Way */
.right_way {
    padding: 175px 0 165px;
}
.right_way .row {
    align-items: flex-start;
}
.column {
    flex: 0 0 50%;
}
.right_way h2 {
    max-width: 446px;
    margin-left: 16px;
    color: #000000;
}
.right_way p {
    max-width: 476px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 36px;
    margin-left: 10px;
    color: #000000;
}

/* We got you */
.we_got_you_content {
    width: 100%;
    height: 100%;
    position: relative;
}
.we_got_you_img {
    width: 100%;
    height: 46em;
}
.we_got_you_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
.we_got_you_position {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.we_got_you_img.bw_filter {
    filter: grayscale(100%);
}
.we_got_you_img.sepia_filter {
    filter: sepia(1);
}

.we_got_you_content h2, .we_got_you_content h4,
.we_got_you_content h6, .we_got_you_content p {
	color: #FFFFFF;
	text-align: center;
}
.we_got_you_bottom {
    position: absolute;
    bottom: 68px;
    left: 0;
    width: 100%;
}
.we_got_you_content p {
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
}
.we_got_you_content h4 {
    font-weight: 700;
    margin-bottom: 15px;
}
.we_got_you_content h6, {
    font-weight: 400;
}
.we_got_you_content h6:last-child a {
    color: #FFD100;
    font-weight: 700;
    margin-top: 33px;
    display: inline-block;
}
.we_got_you_content h6:last-child a:hover {
    color: #FFFFFF;
}
.we_got_you_content h2 {
    padding: 44px 0 30px;
}
.slick-prev.slick-arrow {
    position: absolute;
    left: 100px;
    top: 50%;
    z-index: 99;
    cursor: pointer;
}
.slick-next.slick-arrow {
    position: absolute;
    right: 100px;
    top: 50%;
    z-index: 99;
    cursor: pointer;
}
.slick-arrow {
    opacity: 1;
    transition: all 0.5s;
}
.slick-arrow:hover, .slick-arrow.slick-disabled {
    opacity: 0.6;
}

.we_got_you .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.we_got_you .slick-dots li {
    margin: 0 10px;
}
.we_got_you .slick-dots button {
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #ffffff70;
  text-indent: -9999px;
  cursor: pointer;
}
.we_got_you .slick-dots li.slick-active button {
  background-color: #FFFFFF;
}


/* Passion */
.passion {
    padding: 95px 0;
}
.passion .row {
    align-items: flex-start;
    justify-content: unset;
}
.passion_content {
    flex: 0 0 33%;
}
.products {
    flex: 0 0 67%;
}
.products_row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 11px;
}
.products_column {
    flex: 0 0 48.7%;
    margin-right: 20px;
    position: relative;
}
.products_column:last-child {
    margin-right: 0;
}
.product_img img {
    width: 100%;
    height: auto;
}
.passion_content h2 {
    margin-bottom: 47px;
    letter-spacing: -3px;
}
.passion_content p {
	font-size: 20px;
	line-height: 36px;
}
.passion_content a {
    margin-top: 40px;
    display: inline-block;
    font-weight: 700;
    color: #FFD100;
}
.product_content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
}
.product_content h5 {
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
}
.product_content {
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.product_action a {
    font-size: 12px;
    line-height: 17px;
    background-color: #FFD100;
    border: 2px solid #FFD100;
    color: #000000;
    font-weight: bold;
    padding: 6px 19px;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    display: inline-block;
    text-align: center;
    margin-right: 14px;
    transition: all 0.5s;
}
.product_action a span {
	-ms-transform: skewX(8deg);
    -webkit-transform: skewX(8deg);
    transform: skewX(8deg);
    display: inline-block;
}
.product_action a:hover {
	background-color: transparent;
    color: #FFD100;
}

/* Find the right plan */
.pricing {
    padding: 90px 0;
}
.pricing .row {
    align-items: flex-start;
    height: 100%;
    justify-content: unset;
}
.pricing_column {
    flex: 0 0 33.33%;
    padding: 30px 80px 30px 49px;
    border: 1px solid #97979738;
    background-color: #FFFFFF;
    min-height: 528px;
    position: relative;
}
.pricing_column.active{
	transform: scale(1.05);
	border: none;
	box-shadow: 0 0 50px rgb(0 0 0 / 20%);
	padding: 30px 80px 30px 64px;
	z-index: 9;
}
.pricing_column:last-child {
    padding: 30px 64px 30px 62px;
}
.pricing_column.active .pricing_actions {
    bottom: 35px;
}
.pricing_actions {
    position: absolute;
    bottom: 25px;
    text-align: center;
    left: 79px;
}
.pricing_column.active .pricing_actions {
    left: 95px;
}
.pricing_column:last-child .pricing_actions {
    left: 68px;
}
.pricing_heading {
    text-align: center;
    padding-bottom: 92px;
}
.pricing_content h3 {
    margin-bottom: 50px;
    line-height: 36px;
}
.pricing_content li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}
.pricing_actions a {
	background-color: #FFD100;
    border: 2px solid #FFD100;
    color: #000000;
    font-weight: bold;
    padding: 10px 63px;
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    display: inline-block;
    text-align: center;
}
.pricing_actions a span {
    -ms-transform: skewX(8deg);
    -webkit-transform: skewX(8deg);
    transform: skewX(8deg);
    display: inline-block;
}
.pricing_actions a:hover {
    background-color: transparent;
    color: #FFD100;
}
/* Newsletter */
.newsletter {
    background-color: #FFD100;
    padding: 85px 0 55px;
    text-align: center;
}
.newsletter h2 {
    margin-bottom: 30px;
    letter-spacing: -3px;
}
.newsletter p {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
}
.newsletter form {
    margin-bottom: 20px;
    display: none;
}
.note p {
	margin-bottom: 0;
	font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
.newsletter #email {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-family: var(--primaryfont);
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    padding: 11px 16px 11px 46px;
    max-width: 462px;
    width: 80%;
    transform: skewX(-8deg);
}
.newsletter input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-family: var(--primaryfont);
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    padding: 11px 91px;
    text-transform: uppercase;
    transform: skewX(-8deg);
    margin-left: 15px;
}

/* footer */

footer {
    background-color: #000000;
    padding: 110px 0 124px;
}
.footer_row {
    display: flex;
    flex-wrap: wrap;
}
.footer_column {
    flex: 0 0 25%;
}
.footer_column h6 {
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.footer_column a {
    font-size: 12px;
    line-height: 36px;
    font-weight: 500;
    color: #707070;
}
.footer_column a:hover {
	color: #FFFFFF;
}
.footer_column li {
    margin-bottom: 2px;
}
.footer_img {
    margin-top: 25px;
}
.footer_column:nth-child(2) {
    padding-left: 5px;
}
.footer_column:nth-child(3) {
    padding-left: 9px;
}
.footer_column:nth-child(4) {
    padding-left: 14px;
}
